#title, .subtitle, .post-title {
    color:blue;
}

.post-title {
    font-size: 16px;
    font-style: italic;
}

.body{
    background: #fcfc;
}

.post{
    background: #fff;
    padding: 10px;
    border: 3px solid;
    border-color: blue;
    margin: 5px;
}

.post2{
    background:orange;
    padding: 10px;
    border: 3px solid;
    border-color: brown;
    margin: 5px;
}

.post3{
    background:orange;
    padding-top: 15px;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-left: 0;
    border: 3px solid;
    border-color: brown;
    
}

/*.box{
    padding:15px 10px 5px 0px
}*/


.text{
    color: black;
}